span
  color: red

.header
  width: 100%
  display: flex
  justify-content: center
  flex-wrap: wrap
.desc
  display: flex
  justify-content: center
  width: 90%
.ad
  display: flex
  width: 100%
  height: auto
  justify-content: center
  margin-bottom: 3%

.InputAddOn
  display: flex

.InputAddOn-field
  flex: 1
